.button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #4873c1;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .button {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .button {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .button {
    margin-right: 2.5rem;
  }
}
