/* .cancelBtn {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  background-color: #cd1f40;
} */

.button {
  width: 120px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: #4873c1;
  color: white;
  border-radius: 8px;
  font-size: 19px;
  cursor: pointer;

  /* Ajustes posteriores */
  /* position: absolute;
  top: 84px;
  right: 27%; */
}
